# Rust build artifacts
/target/
**/*.rs.bk

# Nix & NixOS
result
result-*
.direnv/

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo
*~

# Environment & Secrets (токени, ключі)
.env
*.env
*.pem

# OS metadata
.DS_Store
Thumbs.db
